export(end_round)
export(inspect_space)
export(show_board)
export(start_round)
export(take_a_carriage)
export(take_a_step)
export(trim_possibilities)
importFrom("graphics", "par", "plot")
importFrom("utils", "data")
